useDynLib(rdyncall)
export(
  # dyncall.R
  .dyncall, 
  .dyncall.cdecl, 
  .dyncall.stdcall, 
  .dyncall.thiscall, .dyncall.thiscall.gcc, .dyncall.thiscall.msvc, 
  .dyncall.fastcall, .dyncall.fastcall.gcc, .dyncall.fastcall.msvc,
  # dynload.R
  .dynload, .dynunload, .dynsym,
  # dynfind.R
  dynfind, pathsFromEnv,
  # dynbind.R 
  dynbind,
  # dynstruct.R 
  makeStructInfo, makeUnionInfo, new.struct, as.struct, parseStructInfos, parseUnionInfos, 
  align, getTypeInfo,
  pack.struct, unpack.struct,
  # pack.R
  .pack, .unpack, 
  # callback.R
  new.callback,
  # utils.R 
  .addrval, is.externalptr, is.nullptr, offsetPtr, sexpraddr, as.extptr,
  # utils_str.R
  ptr2str, strarrayptr, strptr, 
  # utils_float.R
  floatraw, as.floatraw, floatraw2numeric, 
  
  # dynport.R
  dynport, loadDynportNamespace
)

S3method("$<-", struct)
S3method("$", struct)
S3method(print,struct)

