useDynLib(rdyncall)
export(
  # dyncall.R
  .dyncall, .callmodes, .dyncall.cdecl, .dyncall.stdcall,
  # dynload.R
  .dynload, .dynunload, .dynsym,
  # dynfind.R
  dynfind, pathsFromEnv,
  # dynbind.R 
  dynbind, 
  # struct.R
  #.sigsizes, structinfo, new.struct, sizeof, structinfo, as.structptr,
  sizeof, alignof, align,
  parseStructInfos, parseUnionInfos, 
  getStructInfo, showStructInfos, registerStructInfo, unregisterStructInfo, 
  new.struct, as.struct,
  # pack.R
  .pack1, .unpack1, 
  # callback.R
  new.callback,
  # utils.R 
  .dataptr, .addrval, is.externalptr, is.nullptr, as.externalptr,
  # findLibPath.R
  findLibPath,
  # dynport.R
  dynport, dynport.unload, loadDynportNamespace
)

S3method("$<-", struct)
S3method("$", struct)
S3method(print,struct)
# S3method(sizeof,struct)
# S3method(sizeof,structinfo)
# S3method(structinfo,character)
# S3method(structinfo,struct)

